

    
    
    <section class="slider-wrapper">
    
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul><!-- SLIDE  -->
                   <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                        <img src="demos/sliderbg_04.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="tp-caption high_title customin customout start"
							data-x="left" data-hoffset="100"
                            data-y="60"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">OUR
                        </div>
                        <div class="tp-caption mini_title customin customout start"
							data-x="left" data-hoffset="330"
                            data-y="290"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="900"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">PASSION BRINGS <span>JOLLYANY....</span>
                        </div>
                        <div class="tp-caption customin customout"
                            data-x="left" data-hoffset="100"
                            data-y="150"
                            data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="700"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 3"><img src="demos/sliderlogo_01.png" alt="">
                        </div>
                        <div class="tp-caption small_title  customin customout start"
							data-x="center" data-hoffset="0"
                            data-y="330"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1600"
                            data-start="1100"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><a href="#" class="btn btn-primary btn-lg">Buy now</a>
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                        <img src="demos/sliderbg_03.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="tp-caption high_title2 customin customout start"
							data-x="left" data-hoffset="60"
                            data-y="130"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Powerfully Responsive, With <br>
							Clean Design
                        </div>
                        <div class="tp-caption light_title customin customout start"
							data-x="left" data-hoffset="60"
                            data-y="265"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="700"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Your website should look great across all devices, no matter how big <br>
							or small. Take control of your content’s presentation.
                        </div>
                        <div class="tp-caption small_title  customin customout start"
							data-x="left" data-hoffset="60"
                            data-y="340"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1600"
                            data-start="900"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><a href="#" class="btn btn-primary btn-lg">Buy now</a>
                        </div>
                        <div class="tp-caption customin customout"
                            data-x="right" data-hoffset="-60"
                            data-y="bottom" data-voffset="-20"
                            data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="700"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 3"><img src="demos/slidertablet_01.png" alt="">
                        </div>
                    </li>
                   <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                        <img src="demos/sliderbg_05.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="tp-caption big_title upper_title customin customout start"
                            data-x="right"
                            data-hoffset="0"
                            data-y="95"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Everything you needed in <span>jollyany</span>
                        </div>
                        <div class="tp-caption mini_title2 customin customout"
                            data-x="right"
                            data-y="190"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="1000"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><i class="fa fa-star-o"></i> 30 Unique & Trendy Home Page Layouts
                        </div>
                        <div class="tp-caption mini_title2 customin customout"
                            data-x="right"
                            data-y="220"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="1500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><i class="fa fa-star-o"></i> 120+ Page Templates Layouts
                        </div>
                        <div class="tp-caption mini_title2 customin customout"
                            data-x="right"
                            data-y="250"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="2000"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><i class="fa fa-star-o"></i> Mega Menu Support
                        </div>
                        <div class="tp-caption mini_title2 customin customout"
                            data-x="right"
                            data-y="280"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="2500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><i class="fa fa-star-o"></i> Revolution Slider
                        </div>
                        <div class="tp-caption mini_title2 customin customout"
                            data-x="right"
                            data-y="310"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="3000"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><i class="fa fa-star-o"></i> Shop Woocommerce Layouts
                        </div>
                        <div class="tp-caption mini_title2 customin customout"
                            data-x="right"
                            data-y="340"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="3500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><i class="fa fa-star-o"></i> BuddyPress Layous & Endless Possibilities
                        </div>
                        <div class="tp-caption slider_title_a customin customout"
                            data-x="center" data-hoffset="130"
                            data-y="250"
                            data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1800"
                            data-start="5000"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 3"><a href="#" title="">Dont Miss it</a>
                        </div>
                        <div class="tp-caption customin customout"
                            data-x="left" data-hoffset="-70"
                            data-y="20"
                            data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1800"
                            data-start="1000"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 3"><img src="demos/slider_screen.png" alt="">
                        </div>
                        <div class="tp-caption small_title  customin customout start"
                            data-x="right"
                            data-hoffset="0"
                            data-y="380"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1600"
                            data-start="5100"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><a href="#" class="btn btn-primary btn-lg">Buy Now</a>
                        </div>
                    </li>
					<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                        <img src="demos/sliderbg_01.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="tp-caption big_title_slider customin customout start"
                            data-x="left"
                            data-hoffset="30"
                            data-y="170"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><span>PERFECT THEME</span> TO GROW YOUR BUSINESS
                        </div>
                        <div class="tp-caption small_title customin customout start"
                            data-x="left"
                            data-hoffset="30"
                            data-y="246"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1300"
                            data-start="800"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Jollyany is a  creative awesome design for super easy to build with<br>
							our Shortcodes & Page Builder. The one and only HTML template<br>
							you'll ever have to buy. 
                        </div>
                        <div class="tp-caption small_title customin customout start"
                            data-x="left"
                            data-hoffset="30"
                            data-y="360"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1600"
                            data-start="1100"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><a href="#" class="btn btn-primary btn-lg">Build now</a>
                        </div>
                        <div class="tp-caption customin customout"
                            data-x="right" data-hoffset="-60"
                            data-y="bottom" data-voffset="220"
                            data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="700"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 3"><img src="demos/sliderman_01.png" alt="">
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                        <img src="demos/sliderbg_02.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="tp-caption big_title  customin customout start"
                            data-x="left"
                            data-hoffset="30"
                            data-y="170"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Coded with <span>Bootstrap, HTML5 & CSS3</span>
                        </div>
                        <div class="tp-caption small_title2 customin customout start"
                            data-x="left"
                            data-hoffset="30"
                            data-y="236"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1300"
                            data-start="800"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Jollyany is a  creative awesome design for super easy to<br>
							 build with our Shortcodes & Page Builder.
                        </div>
                        <div class="tp-caption small_title  customin customout start"
                            data-x="left"
                            data-hoffset="30"
                            data-y="320"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1600"
                            data-start="1100"
                            data-easing="Back.easeInOut"
                            data-endspeed="300"><a href="#" class="btn btn-primary btn-lg">Build now</a>
                        </div>
                        <div class="tp-caption customin customout"
                            data-x="right" data-hoffset="120"
                            data-y="bottom" data-voffset="0"
                            data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="700"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 3"><img src="demos/sliderman_02.png" alt="">
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </section><!-- end slider-wrapper -->
    
  	<section class="white-wrapper">
		<div class="container">
        	<div class="services_vertical">
                <div class="col-lg-4 first">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                            <i class="fa fa-lightbulb-o fa-4x"></i>
                        </div>
                        <h3>Aweosme Design Layout</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. </p>
                        <a href="#" class="readmore">Read More...</a>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                            <i class="fa fa-gear fa-4x"></i>
                        </div>
                        <h3>Drag and Drop Builder</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. </p>
                        <a href="#" class="readmore">Read More...</a>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 last">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                            <i class="fa fa-tablet fa-4x"></i>
                        </div>
                        <h3>Retina Ready Display</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. </p>
                        <a href="#" class="readmore">Read More...</a>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 first">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                            <i class="fa fa-folder-o fa-4x"></i>
                        </div>
                        <h3>Next-level features</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. </p>
                        <a href="#" class="readmore">Read More...</a>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                            <i class="fa fa-google-plus fa-4x"></i>
                        </div>
                        <h3>Social Media Friendly</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. </p>
                        <a href="#" class="readmore">Read More...</a>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 last">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                            <i class="fa fa-bars fa-4x"></i>
                        </div>
                        <h3>Responsive Web Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. </p>
                        <a href="#" class="readmore">Read More...</a>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="clearfix"></div>
            </div><!-- end services_vertical -->
			<div class="clearfix"></div>
            <div class="calloutbox bgdark">
                <div class="col-lg-10">
                    <h2><span>JOLLYANY</span>, you ever neededto build powerful & trendy website!</h2>
                    <p>Accusantium quam, ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper.</p>
                    </div>
                    <div class="col-lg-2">
                    <a class="btn pull-right btn-default btn-lg margin-top" href="#">Purchase now!</a>
                    </div>
                </div><!-- end messagebox -->
		</div><!-- end container -->
    </section><!-- end transparent-bg -->

	<section class="grey-wrapper jt-shadow">
    	<div class="container">
        	<div class="col-lg-4">
                <div class="general-title text-left">
                    <h2>Latest Blog Posts</h2>
                    <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. </p>
                    <a href="#" class="btn btn-primary">View all posts</a>
                </div><!-- end general title -->
            </div>
            <div class="col-lg-8">
            	<div class="padding-top margin-top">
                    <div id="owl_blog_two_line" class="owl-carousel">
                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="demos/blog_01.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    <i class="fa fa-picture-o"></i>
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="blog-single-sidebar.html">New Graphic Designer on the block</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                    <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                    <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vel faucibus nunc, et venenatis magna. In hac habitasse platea dictumst. </p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->
                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="demos/blog_02.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    <i class="fa fa-picture-o"></i>
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="blog-single-sidebar.html">New Graphic Designer on the block</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                    <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                    <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vel faucibus nunc, et venenatis magna. In hac habitasse platea dictumst. </p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->
                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="demos/blog_01.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    <i class="fa fa-picture-o"></i>
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="blog-single-sidebar.html">New Graphic Designer on the block</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                    <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                    <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vel faucibus nunc, et venenatis magna. In hac habitasse platea dictumst. </p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->     
                    </div><!-- end owl-blog -->
                </div><!-- end padding-top -->
            </div><!-- end col-lg-8 -->
    	</div><!-- end container -->
    </section><!-- end grey wrapper -->

	<section class="white-wrapper">
    	<div class="container">
        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            	<div class="widget">
                	<h3>WHY WE SUGGEST JOLYANY?</h3>
					<div class="about_tabbed">     
						<div class="panel-group" id="accordion2">
							<div class="panel panel-default">
								<div class="panel-heading active">
									<h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Our Mission</a>
									</h4>
								</div><!-- end panel-heading -->
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
                                        <p>Nam sem ligula, fringilla id pulvinar eu, laoreet at ligula. Donec blandit ligula a cursus tempor. Ut sit amet nibh nulla. Quisque nec augue eget mi sodales posuere. Integer vitae vehicula mi. Mauris orci velit, tempor ut sem vel, placerat mattis orci. Curabitur lacinia ac sapien ullamcorper fermentum. Nunc interdum, dui eget facilisis convallis.</p>
									</div><!-- end panel-body -->
								</div><!-- end collapseOne -->
							</div><!-- end panel -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Our Vision</a>
									</h4>
								</div><!-- end panel-heading -->
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
                                        <p>Nam sem ligula, fringilla id pulvinar eu, laoreet at ligula. Donec blandit ligula a cursus tempor. Ut sit amet nibh nulla. Quisque nec augue eget mi sodales posuere. Integer vitae vehicula mi. Mauris orci velit, tempor ut sem vel, placerat mattis orci. Curabitur lacinia ac sapien ullamcorper fermentum. Nunc interdum, dui eget facilisis convallis.</p>
									</div><!-- end panel-body -->
								</div><!-- end collapseOne -->
							</div><!-- end panel -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Our Goal</a>
									</h4>
								</div><!-- end panel-heading -->
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
                                        <p>Nam sem ligula, fringilla id pulvinar eu, laoreet at ligula. Donec blandit ligula a cursus tempor. Ut sit amet nibh nulla. Quisque nec augue eget mi sodales posuere. Integer vitae vehicula mi. Mauris orci velit, tempor ut sem vel, placerat mattis orci. Curabitur lacinia ac sapien ullamcorper fermentum. Nunc interdum, dui eget facilisis convallis.</p>
									</div><!-- end panel-body -->
								</div><!-- end collapseOne -->
							</div><!-- end panel -->
						</div><!-- end panel-group -->
					</div><!-- end about tabbed -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
            
        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            	<div class="widget">
                	<h3>CLIENTS FEEDBACK’S</h3>
                    <div id="owl-testimonial-widget" class="owl-carousel">
                        <div class="testimonial-carousel text-center">
                            <div class="testimonial-wrap">
                                <p class="lead">"Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero"</p>
                            </div>
                            <div class="media">
                                <img src="demos/client_01.jpg" alt="" class="img-circle img-responsive">
                            </div><!-- end entry -->
                            <div class="testimonial-names">
                                <h3>Filiz OZER</h3>
                                <a href="#" class="readmore">C0-Founder (JollyThemes)</a>
                            </div><!-- end testimonial-names -->
                        </div><!-- end testimonial-carousel -->
                        <div class="testimonial-carousel text-center">
                            <div class="testimonial-wrap">
                                <p class="lead">"Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh."</p>
                            </div>
                            <div class="media">
                                <img src="demos/client_01.jpg" alt="" class="img-circle img-responsive">
                            </div><!-- end entry -->
                            <div class="testimonial-names">
                                <h3>Filiz OZER</h3>
                                <a href="#" class="readmore">C0-Founder (JollyThemes)</a>
                            </div><!-- end testimonial-names -->
                        </div><!-- end testimonial-carousel -->
                    </div><!-- end owl-testimonial-widget -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
		</div><!-- end container -->
    </section><!-- end grey-wrapper -->

	<section id="one-parallax" class="parallax" style="background-image: url('demos/parallax_03.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
        	<div class="container">
                <div class="general-title">
                    <h2>Our Clients & Brands</h2>
                    <hr>
                    <p class="lead">These is the team behind Jollyany Agency</p>
                </div><!-- end general title -->
            
            	<div class="clients padding-top text-center">
                	<div class="client-wrap col-lg-3 first">
                    	<a href="#" title=""><img src="demos/client_logo_01.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3">
                    	<a href="#" title=""><img src="demos/client_logo_02.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3">
                    	<a href="#" title=""><img src="demos/client_logo_03.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 last">
                    	<a href="#" title=""><img src="demos/client_logo_04.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 first no-border">
                    	<a href="#" title=""><img src="demos/client_logo_05.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 no-border">
                    	<a href="#" title=""><img src="demos/client_logo_06.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 no-border">
                    	<a href="#" title=""><img src="demos/client_logo_07.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 last no-border">
                    	<a href="#" title=""><img src="demos/client_logo_08.png" alt=""></a>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
    	</div><!-- end overlay -->
    </section><!-- end transparent-bg -->
      
